/* Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Header i footer */
.header, .footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.nav a, .nav span {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* RWD */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav a, .nav span {
    font-size: 1rem;
  }
}
